extends layout

block content
  h2.py-3 Create a new book

  .form-group
      if genre
        h4 Genre: #{genre.name}

  form.p-3(action= pathAction ? pathAction : '', method='POST', enctype='multipart/form-data')
    .form-group   
      label(for='title') Title
      input#title.form-control(type='text' placeholder='Title', name='title')
    .form-group
      label(for='description') Description
      textarea#description.form-control(type='text' placeholder='Description', name='description')
    .form-group
      label(for='price') Price
      input#price.form-control(type='text' placeholder='Price', name='price')
    .form-group
      .custom-file
        input#img.custom-file-input(type='file', name='img')
        label.custom-file-label(for='img') Choose image
    button.btn.btn-primary(type='submit') Create