extends layout

block content
  .genre.p-3
    h2.pb-2 Current genres
    .list-group
      if genres
        each genre,i in genres
          a.list-group-item.list-group-item-action(href=`/genres/${genre._id}/books`) #{genre.name}

  
